<div class="drop-shadow lifted">
	<h1>Your Uploads</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%= upload.title %></td>
    <td><%= upload.description %></td>
    <td><%= upload.tags %></td>
    <td><%= link_to 'Show', upload %></td>
    <td><%= link_to 'Edit', edit_upload_path(upload) %></td>
    <td><%= link_to 'Destroy', upload, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Upload', new_upload_path %>
</div><!-- end drop-shadow lifted -->
<%= render 'footer'%>